# Modelo de propensión de renovación de seguros

* Modelo con idea concepto para prueba de herramienta dimensional insight 7.0

* Se validan desempeño u funcionalidad de librerías, interacción de gráficos y facilidad de conexión con DB y variables reales.

In [1]:
from sklearn.naive_bayes import GaussianNB
import pandas as pd
import csv

In [2]:
df = pd.read_csv("BMW_PIPELINE_train.csv", sep = ",", encoding = "ISO-8859-1")
df = df.fillna(0)
df.head()

,nom_mes_renov,año,mes_renov,mes_reg,anterior,nueva,diferencia,vehiculo,estimacion,pagos,gastos,ajustes,saldo,cp,edad,renovo
0,AGO,2017,8,8,22103,21603,500,11284,4000.0,0.0,0.0,0.0,4000.0,7770,46,1
1,ENE,2018,1,11,19069,18569,500,11284,0.0,0.0,0.0,0.0,0.0,45070,39,1
2,AGO,2017,8,8,33972,36690,-2718,11855,5250.0,0.0,0.0,0.0,5250.0,36947,0,1
3,ENE,2018,1,11,17353,16853,500,10548,500.0,0.0,0.0,-500.0,0.0,76120,0,1
4,AGO,2017,8,8,27013,26513,500,9976,0.0,0.0,0.0,0.0,0.0,54750,70,1

In [3]:
gnb = GaussianNB()
modelo=gnb.fit(df[['mes_renov','mes_reg','diferencia','vehiculo','estimacion','saldo','cp','edad']],df['renovo'])

In [4]:
modelo.predict_proba([[8,8,500,11284,4000,4000,7770,46]])

array([[0.02306472, 0.97693528]])

In [5]:
modelo.predict([[8,8,500,11284,4000,4000,7770,46]])

array([1], dtype=int64)